<!DOCTYPE html>
<html>
<head>
    <title>Movie Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }

        .custom-image {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Release Year</th>
                <th>Genre</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td><a href="/movies/getmovie/@movie.Id">@movie.Name</a></td>
                    <td>@movie.Rating</td>
                    <td>@movie.ReleaseYear</td>
                    <td>@movie.Genre</td>
                    <td>
                        <img src="@movie.ImageUrl" alt="@movie.Name" class="custom-image" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
